@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
}

.pubblicita{
    width: 10%;
    height:0;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

#pubblicita-destra{
    right: 0;
}

.centro{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
}


.centro-padding{
    width: 70%;
}

.blocco-immagine-home{
    width: 100%;
    height: 65vh;
    background-color: black;
    position: relative;
}

.blocco-immagine-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

.blocco-immagine-home h1{
    color: white;
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    font-family: 'Noto Sans Khmer', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.barra-superiore{
    width: 100%;
    height: 15%;
    position: relative;
    background-color: #2b2b2b;
}

.barra-superiore-padding{
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0;
    width: 95%;
    position: relative;
    left: 2.5%;
}


.barra-superiore-nome-pagina h1{
    font-size: 35px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;

}

#nav-bar{
    width: 40%;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 15px 0;
}

.nav-bar-item{
    text-decoration: none;
    font-size: 12.5px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.nav-bar-item:hover{
    color: rgb(0, 119, 255);
}





/*MAIN*/

.main-spiaggie{
    width: 100%;
    position: relative;
    margin-top: 5%;
}

.nome-pagina{
    width: 100%;
}

.nome-pagina h1{
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
    color: rgb(44, 44, 44);
}

.oggetti{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.oggetto{
    width: 49%;
    min-width: 150px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 0 0 20px 0;
    background-color: white;
}

.oggetto-img-spiaggia{
    width: 100%;
    height: 200px;
}

.oggetto-img-spiaggia img{
    position: relative;
    object-fit: cover;
}

.oggetto-info-spiaggia{
    width: 100%;
    position: relative;
}

.oggetto-info-spiaggia-padding{
    width: 90%;
    height: 90%;
    position: relative;
    margin: 5%;
    padding-bottom: 5%;
}

.oggetto-nome{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.oggetto-nome h1{
    font-size: 1.2em;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(44, 44, 44);
}

.oggetto-descrizione-info{
    width: 100%;
    height: 75px;
    position: relative;
    margin: 15px 0 30px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.oggetto-descrizione{
    width: 100%;
    min-height: 50px;
}

.oggetto-descrizione p{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif; 
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: justify;
    color: rgb(44, 44, 44);

}

.oggetto-info{
    width: 100%;
    min-height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.oggetto-info p{
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: rgb(44, 44, 44);
}

.oggetto-tasto{
    width: 100%;
    height: 20%;
    position: relative;
}

.oggetto-tasto-padding{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.oggetto-tasto-padding a{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    text-decoration: none;
}

.oggetto-tasto-padding a:hover{
    background-color: #0052aa;
}

.oggetto-tasto-padding a h6{
    font-size:20px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Cairo', sans-serif;
}


.color-svg-a{
    stroke: white;
}

.color-svg-menu{
    stroke: white;
}




.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
}

.footer-dimesioni{
    width: 90%;
    padding: 2% 5% 0 5%;
}

.footer-dimesioni h1{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.footer-dimesioni div a{
    color: white;
    padding: 0 10px 0 0;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}


.footer-dimesioni a:hover{
    color: #007bff;
}


.footer-dimesioni span{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.copyrite{
    padding: 5% 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



@media (max-width: 1100px) {
    .oggetto{
        width: 48%;
        min-width: 150px;
    }

    .oggetto-nome h1{
        font-size: 1.3em;
    }
}

@media (max-width: 960px) and (min-width: 400px) {
    .oggetto{
        width: 40%;
        min-width: 200px;
    }


    .oggetti{
        justify-content: center;
    }

    .pubblicita{
        display: none;
    }

    .centro{
        width: 100%;
        left: 0;
    }

    .centro-padding{
        width: 100%;
        padding: 0;
    }

    .nome-pagina{
        display: flex;
        justify-content: center;
    }

    .nome-pagina h1{
        font-size: 40px;
    }

    .oggetto-nome h1{
        font-size: 1.5em;
    }

    .oggetti{
        justify-content: center;
    }

    .main-spiaggie{
        width: 100%;
    }

    .pubblicita-mobile{
        width: 100%;
        position: relative;
        height: 10vh;
        background-color: aliceblue;
        margin-bottom: 15px;
    }
    .main-meteo{
        width: 90%;
        left: 5%;
    }

    .barra-superiore-nome-pagina h1{
        font-size: 30px;
    }

    #nav-bar{
        width: 100%;
    }

    .nav-bar-item{
        font-size: 13px;
    }

    .blocco-immagine-home h1{
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .oggetto{
        width: 80%;
        min-width: 0;
        margin: 0 2.5% 15px 2.5%;
    }

    .oggetti{
        justify-content: center;
    }

    .pubblicita{
        display: none;
    }

    .centro{
        width: 100%;
        left: 0;
    }

    .centro-padding{
        width: 100%;
        padding: 0;
    }

    .nome-pagina{
        display: flex;
        justify-content: center;
    }

    .nome-pagina h1{
        font-size:30px;
        text-align: center;
    }

    .barra-superiore-padding{
        flex-direction: column;
        align-items: center;
    }

    .oggetto-nome h1{
        font-size: 1.2em;
    }

    .main-spiaggie{
        width: 100%;
    }

    .pubblicita-mobile{
        width: 100%;
        position: relative;
        height: 10vh;
        background-color: aliceblue;
        margin-bottom: 15px;
    }

    .nav-bar-item{
        font-size: 12px;
    }

    
    .oggetto-img-spiaggia{
        height: 150px;
    }

    .oggetto-tasto-padding a{
        height: 45px;
    }

    .oggetto-descrizione-info{
        height: 55px;
    }

    .oggetto-nome{
        height: 45px;
    }

    .oggetto-info-spiaggia-padding{
        margin-bottom: 0;
    }

    .oggetto-info{
        margin: 0;
    }

    #nav-bar{
        width: 100%;
    }

    .blocco-immagine-home h1{
        font-size: 30px;
    }

    .blocco-immagine-home{
        height: 50vh;
    }
}